
.section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .figureone {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px
  }
  .figuretwo {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
  }
  .figurethree {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
  }
  .figurefour {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
  }
  .figurefive {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
  }
  .figuresix {
    padding: 10px;
    border-color: black;
    border-style: solid;
    padding-bottom: 20px;
  }
  .iconone {
    color: black;
    border-color: black;
    border-style: solid;
  }
  .icontwo {
    color: black;
    border-color: black;
    border-style: solid;
  
  }
  .iconthree {
    color: black;
    border-style: solid;
    border-color: black;
    
  }
  .iconfour {
    color: black;
    border-style: solid;
    border-color: black;
    
  }
  .iconfive {
    color: black;
    border-style: solid;
    border-color: black;
  }
  
  
  .iconone:hover {
    color: blue;
  }
  .icontwo:hover {
    color: blue;
  }
  .iconthree:hover {
    color: blue
  }
  .iconfour:hover {
    color: blue;
  }